<div class="container-flex">
  <h1>Results</h1>
  <p id="score-display"><%= @score  %>pts</p>
  <p>Letters: <%= @letter_string %></p>
  <%= @message %>
  <a href="/new" class="button">New Game</a>
</div>

<style>

</style>
